@model IEnumerable<ContactPro.Models.Category>

@using ContactPro.Services.Interfaces;

@inject IImageService _ImageService


@{
    ViewData["Title"] = "Categories";
}

<h1>My Categories</h1>

<div class="row">
    <div class="col-12 text-end mb-2">
        <a class="btn btn-outline-primary rounded-pill" asp-action="Create">Create New</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Contacts.Count != 0)
                    {
                        <a class="me-3 editIcons" asp-action="EmailCategory" asp-route-id="@item.Id"><i class="bi bi-envelope-fill "></i></a>
                    }
                    @*                    <a class="me-3 editIcons" asp-action="Edit" asp-route-id="@contact.Id"><i class="bi bi-pencil-fill "></i></a>
                <a class="me-3 editIcons" asp-action="EmailContact" asp-route-id="@contact.Id"><i class="bi bi-envelope-fill "></i></a>
                <a class="me-3 editIcons" asp-action="Delete" asp-route-id="@contact.Id"><i class="bi bi-trash-fill text-danger "></i></a>*@
                    <a class="me-3 editIcons" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill "></i></a>
                    @*                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a class="me-3 editIcons" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill text-danger "></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {

    <script>
        let message = '@(ViewBag.SwalMessage)';

        if (!message.includes('Error') && message != '') {
            Swal.fire({
                backdrop: false,
                icon: 'success',
                title: message,
                showConfirmButton: true
            });
        } else if (message.includes('Error')) {
            Swal.fire({
                backdrop: false,
                icon: 'error',
                title: 'Oops!',
                text: message
            });
        }

    </script>


}