@model IEnumerable<ContactPro.Models.Category>

@using ContactPro.Services.Interfaces;

@inject IImageService _ImageService


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Contacts.Count != 0)
                    {
                        <a asp-action="EmailCategory" asp-route-id="@item.Id">Email</a> <span> | </span>
                    }
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @*                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {

    <script>
        let message = '@(ViewBag.SwalMessage)';

        if (!message.includes('Error') && message != '') {
            Swal.fire({
                backdrop: false,
                icon: 'success',
                title: message,
                showConfirmButton: true
            });
        } else if (message.includes('Error')) {
            Swal.fire({
                backdrop: false,
                icon: 'error',
                title: 'Oops!',
                text: message
            });
        }

    </script>


}