@model ContactPro.Models.Contact

@using ContactPro.Services.Interfaces;

@inject IImageService _ImageService

@{
    ViewData["Title"] = "Details";
}

<h1>CONTACT DETAILS</h1>
<div class="p-3 border border-2 shadow-lg bg-light mb-5">
    <div class="row g-3 p-2">
        <div class="col-12 col-lg-4">
            <div class="square-img-container mb-3">
                <img id="contactImage" class="square-img" src="@_ImageService.ConvertByteArrayToFile(Model.ImageData!, Model.ImageType!)" />
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <label asp-for="FirstName" class="control-label"></label>
                    <span asp-for="FirstName" class="form-control">@Model.FirstName</span>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>                <div class="col-12 col-lg-6">
                    <label asp-for="LastName" class="control-label"></label>
                    <span asp-for="LastName" class="form-control">@Model.LastName</span>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>                <div class="col-12 col-lg-6 mt-2">
                    <label asp-for="Email" class="control-label"></label>
                    <span asp-for="Email" class="form-control">@Model.Email</span>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-12 col-lg-6 mt-2">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <span asp-for="PhoneNumber" class="form-control">@Model.PhoneNumber</span>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-12 mt-2">
                    <label asp-for="Address1" class="control-label"></label>
                    <span asp-for="Address1" class="form-control">@Model.Address1</span>
                    <span asp-validation-for="Address1" class="text-danger"></span>
                </div>
                <div class="col-12 mt-2">
                    <label asp-for="Address2" class="control-label"></label>
                    <span asp-for="Address2" class="form-control">@Model.Address2 &nbsp;</span>
                    <span asp-validation-for="Address2" class="text-danger"></span>
                </div>
                <div class="col-12 col-lg-6 mt-2">
                    <label asp-for="City" class="control-label"></label>
                    <span asp-for="City" class="form-control">@Model.City</span>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-12 col-lg-4 mt-2">
                    <label asp-for="State" class="control-label"></label>
                    <span asp-for="State" class="form-control">@Model.State</span>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="col-12 col-lg-2 mt-2">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <span asp-for="ZipCode" class="form-control">@Model.ZipCode</span>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                @*                    <div class="col-12 col-lg-6 mt-3">
                <label asp-for="Contact!.Categories" class="control-label"></label>
                <select class="form-control" asp-items="@Model.CategoryList" asp-for="SelectedCategories" multiple></select>
                </div>*@
                <div class="col-12 col-lg-6 mt-3">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <span asp-for="BirthDate" class="form-control">@Model.BirthDate?.ToString("MM/dd/yyyy") &nbsp</span>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="col-12 d-flex justify-content-end mt-2">
                    <a asp-action="Index" class="mx-2 btn btn-lg btn-secondary rounded-pill btnlinks">Back</a>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="mx-2 btn btn-lg btn-warning rounded-pill btnlinks">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model?.Id" class="mx-2 btn btn-lg btn-danger rounded-pill btnlinks">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
